<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {{> header}}
    {{pageTitle}}
    {{welcomeMessage}}
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nisi molestias, nesciunt asperiores nobis rem pariatur quisquam! Sapiente porro culpa at magnam nihil sequi. Dolore culpa quia eos minima nostrum?</p>
        <p>This is another p line in the home dir</p>
    </div>
    {{> footer}}
</body>
</html>